.header{
    background-color: rgb(253, 253, 253);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
}

h2{
    color: white;
    text-align: center;
    font-size: 50px;
}

body#Perfiles > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
  
.social-icon {
    
    margin: 0 20px; 
    text-decoration: none; 
    color: #fffdfd; 
}
.social-icon img {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
.contenedor-flex {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no hay suficiente espacio */
}

.item-flex {
  width: 30%; /* Cada elemento ocupa el 30% del ancho */
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .item-flex {
    width: 48%; /* En pantallas más pequeñas, dos elementos por fila */
  }
}

@media (max-width: 480px) {
  .item-flex {
    width: 100%; /* En móviles, un elemento por fila */
  }
}
