.header{
    background-color: rgb(253, 253, 253);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    font-size: 20px;
}

h2{
    color: white;
    text-align: center;
    font-size: 50px;
}

body#Perfiles > div {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
  
.social-icon {
    
    margin: 0 20px; 
    text-decoration: none; 
    color: #fffdfd; 
}
.social-icon img {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
/* Estilos por defecto para pantallas más grandes */
body {
  font-size: 16px;
  /* ... otros estilos ... */
}

/* Estilos para pantallas con un ancho máximo de 768px (típico de tablets) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    /* ... otros estilos específicos para tablets ... */
  }

  .columna {
    width: 100%; /* En pantallas más pequeñas, las columnas ocupan todo el ancho */
    float: none; /* Evitar que las columnas floten */
  }
}

/* Estilos para pantallas con un ancho máximo de 480px (típico de móviles) */
@media (max-width: 480px) {
  body {
    font-size: 12px;
    /* ... otros estilos específicos para móviles ... */
  }

  h1 {
    font-size: 1.5em; /* Reducir el tamaño del título en móviles */
  }
}
